<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="byc.avt.avanteelender">

    <dist:module dist:instant="true" />

    <permission
        android:name="byc.avt.avanteelender.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.features.pendanaan.SignerPendanaanActivity"></activity>
        <activity android:name=".view.features.pendanaan.ViewKontrakPendanaanActivity" />
        <activity android:name=".view.auth.SignersCheckActivity" />
        <activity android:name=".view.misc.OTPDocActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="byc.avt.avanteelender.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.auth.ResendEmailVerifActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.SetNewPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="avantee.co.id"
                    android:pathPrefix="/member/recover/"
                    android:port="8444"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.others.BlogDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.BlogAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.features.account.DataPendukungShowActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.AddressDataShowActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.BankInfoShowActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.WorkInfoShowActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.PersonalDataShowActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.SettingAccountActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.sheet.WithdrawalConfirmationSheetFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.auth.ForgotPasswordActivity" />
        <activity android:name=".view.features.penarikan.PenarikanDanaActivity" />
        <activity android:name=".view.features.topup.TopupInstructionActivity" />
        <activity
            android:name=".adapter.PortofolioAktifDetailAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.others.FactsheetActivity" />
        <activity android:name=".view.fragment.tabportofoliofragment.PortofolioAktifDetailActivity" />
        <activity
            android:name=".adapter.AvtFaqAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.others.FaqActivity" />
        <activity android:name=".view.others.TermsActivity" />
        <activity android:name=".view.others.RiskInfoActivity" />
        <activity android:name=".view.features.historitransaksi.HistoriTransaksiListActivity" />
        <activity android:name=".view.features.pendanaan.PendanaanDetailActivity" />
        <activity
            android:name=".adapter.PendanaanAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.features.pendanaan.PendanaanActivity" />
        <activity
            android:name=".adapter.PortofolioPendingAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.PortofolioAktifAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.PortofolioSelesaiAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.HistoryTrxAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.others.SettingActivity" />
        <activity
            android:name=".view.misc.OTPActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationFormActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationVerifyEmailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".intro.WalkthroughActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".intro.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helper.receiver.OTPReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>