<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="byc.avt.avanteelender">

    <dist:module dist:instant="true" />

    <permission
        android:name="byc.avt.avanteelender.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions,ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.features.account.institution.InsDataPendukungShowActivity"></activity>
        <activity android:name=".view.features.account.institution.InsAddressDataActivity" />
        <activity android:name=".view.features.account.institution.InsBankInfoShowActivity" />
        <activity android:name=".view.features.account.institution.InsCompanyShowActivity" />
        <activity
            android:name=".view.auth.AfterSignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".view.features.account.institution.InsNarahubungShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.institution.SettingInsAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.EmailVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="avantee.co.id"
                    android:pathPrefix="/member/confirm/yes/"
                    android:port="8444"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.account.individual.UpdateAvaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.misc.OTPSettingsActivity" />
        <activity
            android:name=".view.features.account.individual.ChangePasswordActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".view.auth.InVerificationProcessActivity" />
        <activity android:name=".view.features.pendanaan.SignerPendanaanActivity" />
        <activity
            android:name=".view.features.pendanaan.ViewKontrakPendanaanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.SignersCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.misc.OTPDocActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="byc.avt.avanteelender.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.auth.ResendEmailVerifActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.SetNewPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="avantee.co.id"
                    android:pathPrefix="/member/recover/"
                    android:port="8444"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.others.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.BlogAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.features.account.individual.DataPendukungShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.individual.AddressDataShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.individual.BankInfoShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.individual.WorkInfoShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.individual.PersonalDataShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.account.individual.SettingAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.sheet.WithdrawalConfirmationSheetFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="Instantiatable,LockedOrientationActivity" />
        <activity
            android:name=".view.auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.penarikan.PenarikanDanaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.topup.TopupInstructionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.PortofolioAktifDetailAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.others.FactsheetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.fragment.tabportofoliofragment.PortofolioAktifDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.AvtFaqAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.others.FaqActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.others.TermsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.others.RiskInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.historitransaksi.HistoriTransaksiListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.features.pendanaan.PendanaanDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.PendanaanAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.features.pendanaan.PendanaanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".adapter.PortofolioPendingAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.PortofolioAktifAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.PortofolioSelesaiAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".adapter.HistoryTrxAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.others.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.misc.OTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationFormActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationVerifyEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.auth.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".intro.WalkthroughActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".intro.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helper.receiver.OTPReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>